.app_container
{
  display:block;
  width:100%;
}

.spacer
{
  width:10%;
  top:0;
  display: inline-block;
  height: 70vh;
  overflow-y: scroll;
}

.main
{
  width: 75%;
  top:0;
  display: inline-block;
  height: 70vh;
  overflow-y: scroll;
}

.sidebar
{
  width: 25%;
  top:0;
  display: inline-block;
  height: 70vh;
  overflow-y: scroll;
}

.column_third
{
  width : 33.333%;
  display: inline-block;
  top:0;
  float: left;
  height:70vh;
  overflow-y: scroll;
}

.column_half
{
  width: 50%;
  display: inline-block;
  top:0;
  float: left;
  height:70vh;
  overflow-y: scroll;
}

.title
{
  text-align: center;
  font-weight: bold;
}

.text
{
    display:inline-block;
}

.heads_up
{
  display: inline-block;
  float:right;
}

.flag
{
  color: red;
	background:yellow;
}
